<!DOCTYPE html>
<html>
<head>
    <title>Piano LED</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body>
    <h1>Browse Files</h1>
    {% if current_path %}
    <a href="/">Go Up</a>
    {% endif %}
    <h2>Directories</h2>
    <ul>
        {% for directory in directories %}
        <li><a href="{{ url_for('browse', subpath=(current_path + '/' if current_path else '') + directory) }}">{{ directory }}</a></li>
        {% endfor %}
    </ul>
    <h2>Files</h2>
    <ul>
        {% for file in files %}
        <li><a href="{{ url_for('run_method', filename=(current_path + '/' if current_path else '') + file) }}">{{ file }}</a></li>
        {% endfor %}
    </ul>

    <div>
        <a href="https://www.ninsheetmusic.org/browse/series" target="_blank">Download more songs</a>
    </div>
    <div>
        <h2>Test</h2>
        <button onclick="test('do')">Light all do's</button>
        <button onclick="test('all')">Light all keys</button>
        <button onclick="test('rainbow')">Rainbow</button>
        <button onclick="test('clear')">Clear</button>

    </div>

    <script>
        
        function test(action) {
            fetch(`/test/${action}`)
        }

    </script>
</body>
</html>
